body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

.main{
    width: 60%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

.input-container{
    width: 85%;
    display: inline-block;
}